.popup-container{
    position: absolute;
    z-index: 10;
    width: 100vw;
    display: none;
    transition: all 0.3s;
    height: 100vh;
    background-color: #F8FAFC57;
}

.popup-container .popup-prompt{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--surface);
    box-shadow: 
        0 0 10px var(--hover),
        0 0 10px var(--hover),
        0 0 20px var(--border);
}

.popup-container .popup-prompt .heading{color: var(--secondary);}
.popup-container .popup-prompt #reset-yes{background-color: var(--danger);}
.popup-container .popup-prompt #reset-no{background-color: var(--warning);}