body{
    display: flex;
    overflow-y: hidden;
}

.sub-sec{
    padding: 20px;
}

.input{
    background-color: var(--hover);
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 5px 10px;
}

textarea.input{
    height: 100px;
}

.aside{
    width: 20%;
    background-color: var(--surface);
    border-right: 2px solid var(--border);
    height: 100vh;
}

.divider{
    border: 1px solid var(--border);
    padding: 0;
}

.aside .title{color: var(--primary);}

.aside #reset-data{
    background-color: var(--danger);
    margin: 20px;
}

/* .aside .btns #gen-excel{background-color: var(--secondary);} */

.aside .btns .btn{
    background-color: var(--text-primary);
    color: var(--text-secondary);
}

.aside .form .heading{color: var(--primary);}

.aside .outro{
    font-size: 10px;
    text-align: center;
}

.right{width: 100%;}

.header{
    padding: 15px 20px;
    border-bottom: 2px solid var(--border);
    justify-content: space-between;
}

.header .heading{color: var(--primary);}

.main{
    height: 100%;
}

.main .top,
.main .bottom
{height: 50%;}

.main .top #attendance-rec{
    width: 65%;
    background-color: var(--surface);
    border-right: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
}

.main .top #attendance-rec .nav{
    justify-content: space-between;
}

.main .top #attendance-rec .nav .links .btn{
    background-color: var(--hover);
    color: var(--text-primary);
    border-radius: 0;
}

.main .top #attendance-rec .nav .links .btn#daily{border-radius: 5px 0px 0px 5px;}
.main .top #attendance-rec .nav .links .btn#all{border-radius: 0px 5px 5px 0px;}

.main .top #attendance-rec .table#ids{text-align: left;}

.main .top #all-attendees{
    border-bottom: 2px solid var(--border);
    width: 35%;
    overflow-x: auto;
}

.main .top #all-attendees .search-bar .input{
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.main .top #all-attendees .search-bar .btn{
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
}

.main .top #all-attendees .search-bar .btn .img{
    width: 50%;
}

.main .bottom #search-for-attendee{
    width: 65%;
    border-right: 2px solid var(--border);
}

.main .bottom #new-attendee{
    background-color: var(--surface);
    width: 35%;
}

.main #attendance-rec,
.main #all-attendees,
.main #search-for-attendee{
    overflow-y: auto;
}

#sfa-out-edit,
#sfa-out-delete{
    padding: 5px;
    display: none;
}

.img{
    width: 50%;
}

#search-for-attendee ul.links{
    width: 150%;
    overflow-x: auto;
}

#search-for-attendee .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

#mark-att{
    background-color: var(--primary);
    padding: 5px;
}

#aa-all .links .btn{
    padding: 5px;
}

#aa-all .links .btn .img{
    width: 35%;
}

#monthly_frame, #weekly_frame, #daily_frame{display: none;}
#attendance-rec #all{background-color: var(--secondary);}

.table{
    text-align: left;
}

