.alert{
    transition: all 0.3s;
    margin: 10px;
    width: auto;
    position: absolute;
    z-index: 4;
    transform: translateY(-100px);
    opacity: 0;
}

.alert .flash{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.alert .success{background-color: var(--success);}
.alert .warning{background-color: var(--warning);}
.alert .error{background-color: var(--danger);}