<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manage all of your attendees, at one screen with multiple profiles, manage school attendance, office attendace, and much more!">
    <meta name="keywords" content="web app, attendance, attendance manager, management app, school, office">
    <title>Auth | PyCODE Manager</title>
    <link rel="canonical" href="https://py-code.in">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
</head>
<body>
    {% include 'msg.html' %}

    <main class="main flex-col gap-50 v-center h-center">
        <h1 class="heading">Login or Create Account. That's it!</h1>
        <section class="auth flex gap-50">
            <div class="signin">
                <form action="/signin" method="post" class="form flex-col gap-10">
                    <input required type="text" name="username" placeholder="Enter your Name" class="input">
                    <div class="form-elem">
                        <input required type="email" name="email" placeholder="Enter your Email" class="input">
                        <p class="para">We will never share your email to anyone.</p>
                    </div>
                    <input required type="password" name="password" placeholder="Enter your password" class="input">
                    <button type="submit" class="btn">Sign in</button>
                </form>
            </div>
            <div class="line"></div>
            <div class="login">
                <form action="/login" method="post" class="form flex-col gap-10">
                    <input required type="email" name="email" placeholder="Enter your email" class="input">
                    <input required type="password" name="password" placeholder="Enter your password" class="input">
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>