<link rel="stylesheet" href="{{url_for('static', filename='css/msg.css')}}">
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert flex v-center h-center">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<script src="{{url_for('static', filename='js/msg.js')}}"></script>