<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
<section class="profile-box flex v-center h-center">
    <section class="profile">
        <div class="profile-info">
            <h1 class="heading">{{current_user.username}}</h1>
            <p class="para">{{current_user.email}}</p>
        </div>
        <div class="tutorials flex-col gap-10">
            <h2 class="heading">Key-board shortcuts</h2>
            <table class="table">
                <tbody class="flex-col gap-10">
                    <tr class="flex">
                        <th>ctrl + Q</th>
                        <td>Search for Attendee</td>
                    </tr>
                    <tr class="flex">
                        <th>/</th>
                        <td>Search for Attendee</td>
                    </tr>
                    <tr class="flex">
                        <th>ctrl + alt + N</th>
                        <td>Add new Attendee</td>
                    </tr>
                    <tr class="flex">
                        <th>ctrl + alt + F</th>
                        <td>Filter Attendees</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn">Close</button>
    </section>
</section>
<script src="{{url_for('static', filename='js/profile.js')}}"></script>